<ion-content>
  <ion-grid >
    <form [formGroup]="formularioLog" (ngSubmit)="validar()">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-img src="https://appmaster.io/api/_files/PqV7MuNwv89GrZvBd4LNNK/download/"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Recuerdame</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="primary" type="submit" role="submit">
          Iniciar sesión
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
